<IfModule mod_headers.c>
    # Allow origins: valueleaf.salaryontime.com, salaryontime.com, and localhost (any port)
    SetEnvIf Origin "^https?://(api\.paisaonsalary.com\.com|paisaonsalary\.com)$" AccessControlAllowOrigin=$0
    SetEnvIf Origin "^https?://localhost(:[0-9]+)?$" AccessControlAllowOrigin=$0

    # Set CORS headers only if origin matched
    Header always set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT" env=AccessControlAllowOrigin
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization, Accept, Auth" env=AccessControlAllowOrigin
    Header always set Access-Control-Max-Age "86400" env=AccessControlAllowOrigin
    Header always set Access-Control-Allow-Credentials "true" env=AccessControlAllowOrigin
</IfModule>

RewriteEngine On
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php/$1
