<IfModule mod_rewrite.c>
    RewriteEngine On

    # Set the base directory
    RewriteBase /

    # Redirect Trailing Slashes If Not A Folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Prevent Access to Hidden Files and Directories
    RewriteCond %{SCRIPT_FILENAME} -d [OR]
    RewriteCond %{SCRIPT_FILENAME} -f
    RewriteRule ^.*$ - [NC,L]

    # If the file or directory does not exist, route to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # If mod_rewrite is not available, display a message
    ErrorDocument 404 /index.php
</IfModule>
